# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Document/FilterDesignInfo/~$lter design.docx
*.pth
*.pth
/WASAPI/FirstProject/build
/DeepFilter/DeepFilter_CPP/build
/WASAPI/EnumerateDevices/build
/DeepFilterDemo/build
/WASAPI/AudioCapture/build
